body {
  background: darkgray;
  font-family: Arial;
}

h1 {
  color: lightGray;
  text-align: Left;
}
.assign {
  display: flex;
  padding: 10px;
  margin: 10px;
  background: White;
}
.assign img {
  width: 200px;
  padding: 10px;
}
.assign det{
  padding: 10px;
  color: black;
}
